<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <!-- Header Section -->
<div class="container">
  <header>
    <h1>About Us</h1>
  </header>

  <!-- Navigation Bar -->
  <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/enhance">Enhance & Analyze</a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/aboutus" class="active">About us</a></li>

            </ul>
        </nav>

<div class="about-us-board">
  <p>
    We are a team of passionate students from <strong>Imam Mohammad Ibn Saud Islamic University</strong>, majoring in <strong>Computer Science </strong>. This project, <strong><em>AI-Powered Security Framework</em></strong>, is our graduation project (GP). It reflects our dedication to applying advanced technologies to real-world challenges.
  </p>
  <p>
    Our goal is to create innovative solutions that enhance security and efficiency by leveraging cutting-edge resources such as AI models. This project demonstrates the knowledge and skills we've gained throughout our academic journey, as well as our ability to harness emerging technologies to solve critical problems.
  </p>


  <!-- About Us Section -->
  <main>
    <section class="about-us">
      <div class="team-member">
        <div class="avatar"></div>
        <h3>Kadi Alsaif</h3>
        <a href="https://www.linkedin.com/in/kadi-a-784285280?utm_source=share_via&utm_content=profile&utm_medium=member_ios" class="linkedin-link" target="_blank">LinkedIn</a>
      </div>

      <div class="team-member">
        <div class="avatar"></div>
        <h3>Shahad Alqahtani</h3>
        <a href="https://www.linkedin.com/in/shahad-alqahtani-98431b324?utm_source=share_via&utm_content=profile&utm_medium=member_ios" class="linkedin-link" target="_blank">LinkedIn</a>
      </div>

      <div class="team-member">
        <div class="avatar"></div>
        <h3>Shatha Alharbi</h3>
        <a href="https://www.linkedin.com/in/shatha-alharbi-04446b398?utm_source=share_via&utm_content=profile&utm_medium=member_ios" class="linkedin-link" target="_blank">LinkedIn</a>
      </div>
    </section>
  </main>
</div>
</div>

  <!-- Footer -->
  <footer>
    <p>© 2025 AI-Powered Security Framework | Created by Kady Alsaif, Shatha Alharbi, Shahad Alqahtani</p>
  </footer>
</body>
</html>
